<!-- <%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%> -->
<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Wristwatch System</title>

    <!-- Bootstrap core CSS -->
    <link href="../../WEB-INF/lib/bootstrap-4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="../../assets/css/interface-main-header.css" rel="stylesheet">
    <link href="../../assets/css/interface-aside-menu.css" rel="stylesheet">
    <link href="../../assets/css/interface-content.css" rel="stylesheet">
    <link href="../../assets/css/interface.css" rel="stylesheet">
</head>

<body>

    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini resize-lower">
                    <b>WS</b>
                </span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg resize-upper">
                    <b>Wristwatch System</b>
                </span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="../../assets/images/user-profile.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">Matheus</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <section class="sidebar">

                <!--INICIO DO MENU VERTICAL-->


                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header resize-upper">MENU PRINCIPAL</li>
                    <li class="header resize-lower">MP</li>
                    <li class="treeview active">
                        <a href="#">
                            <i class="fa fa-dashboard"></i>
                            <span class="resize-upper">Home</span>
                            <span class="resize-lower">H</span>
                        </a>
                    </li>

                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-calendar"></i>
                            <span class="resize-upper">Funcionalidade</span>
                            <span class="resize-lower">F</span>
                        </a>
                    </li>

                </ul>

                <!--FIM DO MENU VERTICAL-->


            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper" style="min-height: 497px;">
            <section class="content">

                <form class="form-signin" action="" method="POST">
                    <h2 class="form-signin-heading">Atualizar Perfil</h2>
                    <label for="inputName" class="sr-only">Nome</label>
                    <input type="text" id="inputName" class="form-control" placeholder="Nome" autofocus>
                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email" autofocus>
                    <label for="inputPassword1" class="sr-only">Senha</label>
                    <input type="password" id="inputPassword1" class="form-control" placeholder="Senha">
                    <label for="inputPassword2" class="sr-only">Senha</label>
                    <input type="password" id="inputPassword2" class="form-control" placeholder="Repita a Senha">
                    <label for="picture" class="sr-only">Imagem</label>
                    <input type="file" id="picture" class="form-control" placeholder="Foto">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>
                </form>

            </section>
        </div>
        <!-- 
        <footer class="main-footer">
            <strong>Matheus © 2018
                <a href="https://www.codificajr.com.br">Codifica</a>.</strong> All rights reserved.
            <br>
        </footer> -->
    </div>



</body>

</html>