
.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.resize-lower {
    display: none;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
}

footer {
	width: 100%;
	height: 80px;
	background-color: gray;
}

footer div {
	width: 100%;
	margin-top: 30px;
}

@media only screen and (max-width: 1030px) {
    .resize-upper {
        display: none;
    }

    .resize-lower {
        display: block;
    }
}